/*Basic*/
.text-color-white {
	color: #FFFFFF;
}

.text-color-blue  {
	color: #007BFF;
}

.text-color-dark {
	color: #222831;
}

.text-upper {
	text-transform: uppercase;
}

.padding-bottom-basic {
	padding-bottom: 20px;
}

.padding-top-basic {
	padding-top: 10px;
}

.padding-top-large {
	padding-top: 30px;
}

.basic-bg {
	background: linear-gradient(90deg, #222831 50%, transparent 50%);
	background-size: cover;
	width: 100%;
	height: 100%;
}

li {
	list-style-type: none;
}

ul {
	margin-left: 0;
	padding-left: 0;
}

ul>li>a:active,
ul>li>a:hover,
ul>li>a {
	text-decoration: none;
	color: #EEEEEE;
}

button>a:active,
button>a:hover,
button>a {
	text-decoration: none;
	color: #EEEEEE;
}

tr>td {
	text-align: center;
}

button {
	margin-right: 15px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

/*Header*/
.header-page {
	background-color: #222831;
	width: 100%;
	height: 46px;
}

.header__content {
	padding-top: 12px;
}

.header__user {
	float: right;
}

.header__title > a {
	margin-top: -3px;
}

.header__logo__icon {
	width: 16px;
	height: 16px;
	margin-right: 10px;
}

/*Menu*/
.navigation {
	background-color: #222831;
	width: 100%;
	height: 95.3vh;
}

.nav__item {
	background-color: #393E46;
	color: #FFFFFF;
	height: 56px;
	width: 56px;
	position: relative;
	cursor: pointer;
	margin-bottom: 20px;
	float: right;
}

.nav__logout {
	padding-top: 50%;
}

.nav__item__img > img {
	height:36px;
	width:36px;
	left: 50%;
	top: 50%;
	margin-left: -18px;
	margin-top: -18px;
	position: absolute;
}

/*Auth Page*/
.auth-page{
	background: linear-gradient(90deg, #222831 50%, transparent 50%);
	min-height: 100vh;
	padding-top: 15%;
}

.auth__links:hover {
	-webkit-transform: scale(1.02);
	-ms-transform: scale(1.02);
	transform: scale(1.02);
	padding-left: 6px;
}

.auth__arrow {
	width: 16px;
	height: 16px;
	margin-left: 5px;
}

/*Home Page*/
.dropdown-item {
	cursor: pointer;
}

/*Manage Page*/


/*Order Page*/
.order__data {
	
}