<section class="header-page">
	<div class="container header__content">
		<div class="row text-color-white no-gutter">
			<div class="col-4 offset-2">
				<p class="header__title"><img src="../app/images/logo.png" alt="Company Logo" class="header__logo__icon">store management system</p>
			</div>
			<div class="col-4 offset-2">
				<p class="header__user"><img src="../app/images/user.png" alt="User Icon" class="header__logo__icon">{{getUserEmail}}</p>
			</div>
		</div>
	</div>
</section>