<section class="navigation">
	<div class="nav__block"">
		<a href="#!home">
			<div class="nav__item">
				<div class="nav__item__img">
					<img src="../app/images/nav-home.png" alt="Menu Icon">
				</div>
			</div>
		</a>
	</div>
	<div class="nav__block"">
		<a href="#!order">
			<div class="nav__item">
				<div class="nav__item__img">
					<img src="../app/images/nav-order.png" alt="Menu Icon">
				</div>
			</div>
		</a>
	</div>
	<div class="nav__block"">
		<a href="#!manage">
			<div class="nav__item">
				<div class="nav__item__img">
					<img src="../app/images/nav-edit.png" alt="Menu Icon">
				</div>
			</div>
		</a>
	</div>
	<div class="nav__block"">
		<a href="#!message">
			<div class="nav__item">
				<div class="nav__item__img">
					<img src="../app/images/nav-mess.png" alt="Menu Icon">
				</div>
			</div>
		</a>
	</div>
	<div class="nav__block"">
		<a href="#!settings">
			<div class="nav__item">
				<div class="nav__item__img">
					<img src="../app/images/nav-settings.png" alt="Menu Icon">
				</div>
			</div>
		</a>
	</div>
	<div class="nav__block nav__logout">
		<a href="#!auth">
			<div class="nav__item">
				<div class="nav__item__img">
					<img src="../app/images/nav-logout.png" alt="Menu Icon">
				</div>
			</div>
		</a>
	</div>
</section>