<section class="auth-page">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-6 text-color-white">
				<h1 class="padding-bottom-basic text-upper text-color-blue">STORE MANAGEMENT SYSTEM</h1>
				<h3 class="padding-bottom-basic">Система управления интернет-магазином</h3>
				<ul class="auth__links"
					ng-repeat="link in links">
					<li><a href="{{link.href}}">{{link.text}}</a>
						<img src="../app/images/arrow.png" alt="Arrow" class="auth__arrow">
					</li>
				</ul>
			</div>
			<div class="col-lg-4 col-4 offset-lg-1 offset-1">
				<h5 class="text-color-blue">Добрый день!</h5>
				<h3>Выполните вход!</h3>
				<form name="signInForm" ng-submit="submitForm(signInForm)">
					<div class="form-group padding-top-basic">
						<label for="exampleInputEmail1">Почта:</label>
						<input
							type="email"
							ng-model="email"
							class="form-control"
							id="exampleInputEmail1"
							aria-describedby="emailHelp"
							placeholder="Введите почту"
							required>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Пароль:</label>
						<input
							type="password"
							ng-model="password"
							class="form-control"
							id="exampleInputPassword1"
							placeholder="Введите пароль"
							required>
					</div>
					<button type="submit" ng-click="postData()" class="btn btn-dark">Вход</button>
				</form>
			</div>
		</div>
	</div>
</section>