<div ng-include="'views/layers/header.html'"></div>
<section class="basic-bg">
	<div class="container">
		<div class="row no-gutter">
			<div class="col-1">
				<div ng-include="'views/layers/sideMenu.html'"></div>
			</div>
			<div class="col-1 bg-white"><!--Space!!!--></div>
			<div class="col-10 padding-top-large bg-white">
				<div class="home__info"></div>
				<h4>Список аккаунтов</h4>
				<hr>
				<div class="home__btns padding-top-basic">
					<button type="button" class="btn btn-primary btn-md"><a href="#!manage">Добавить запись</a></button>
					<button type="button" class="btn btn-secondary btn-md">Показать последние</button>
				</div>
				<div class="home__sort padding-top-large">
					<div class="row">
						<div class="col-4">
							<!-- Search form -->
							<h6>Поиск по логину</h6>
							<input class="form-control" type="text" placeholder="Search" aria-label="Search" ng-model="search.instAccount.login">
						</div>
					</div>
				</div>
				<div class="home__table padding-top-large table-responsive">
					<table class="table table-hover table-bordered">
						<thead>
							<tr>
								<th scope="col">Почта</th>
								<th scope="col">Логин</th>
								<th scope="col">Аудитория</th>
								<th scope="col">Подп.</th>
								<th scope="col">Прайс</th>
								<th scope="col">Добавлено</th>
								<th scope="col">Статус</th>
								<th scope="col">Действие</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="accounts in accountArr | filter:search">
								<td>{{accounts.mailAccount.login}}</td>
								<td>{{accounts.instAccount.login}}</td>
								<td>{{accounts.followerType}}</td>
								<td>{{accounts.followers}}</td>
								<td>{{accounts.price}}</td>
								<td>{{ accounts.date | date:'yyyy-MM-dd'}}</td>
								<td>{{accounts.status}}</td>
								<td><div class="dropdown">
									<button class="btn btn-secondary btn-xs dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Выберите
									</button>
									<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
										<button class="dropdown-item" type="button" ng-click="createOrder(accounts.id)">Отправить</button>
										<button class="dropdown-item" type="button" ng-click="editRow()">Редактировать</button>
										<button class="dropdown-item" type="button" ng-click="deleteRow()">Удалить</button>
									</div>
								</div></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="home__calculate padding-top-large">
					<h4>Статистика продаж</h4>
					<div class="home__btns padding-top-basic">
						<h6 class="padding-top-basic" ng-init="init()">Продано всего: {{count}}</h6>
						<h6 class="padding-top-basic" ng-init="init()">Общий доход: {{sum}} ₴</h6>
					</div>
				</div>
				<div ng-include="'views/layers/newOrders.html'"></div>
				<div class="padding-bottom-basic"></div>
			</div>
		</div>
	</div>
</section>