<div ng-include="'views/layers/header.html'"></div>
<section class="basic-bg">
	<div class="container">
		<div class="row no-gutter">
			<div class="col-1">
				<div ng-include="'views/layers/sideMenu.html'"></div>
			</div>
			<div class="col-1 bg-white"><!--Space!!!--></div>
			<div class="col-10 padding-top-large bg-white">
				<h4>Добавить запись</h4>
				<hr>
				<div class="row padding-top-large">
					<div class="col-4">
						<h5>Данные почты</h5>
						<form>
							<div class="form-group">
								<label for="mailLogin" class="padding-top-large">Логин</label>
								<input type="email" class="form-control" id="mailLogin" placeholder="Логин" required>
								<label for="mailPass" class="padding-top-basic">Пароль</label>
								<input type="password" class="form-control" id="mailPass" placeholder="Пароль">
								<label for="mailSecret" class="padding-top-basic">Секретное слово</label>
								<input type="text" class="form-control" id="mailSecret" placeholder="Секретное слово" required>
							</div>
						</form>
					</div>
					<div class="col-4">
						<h5>Данные аккаунта</h5>
						<form>
							<div class="form-group">
								<label for="accountLogin" class="padding-top-large">Логин</label>
								<input type="text" class="form-control" id="accountLogin" placeholder="Логин" required>
								<label for="accountPass" class="padding-top-basic">Пароль</label>
								<input type="password" class="form-control" id="accountPass" placeholder="Пароль" required>
							</div>
						</form>
					</div>
					<div class="col-4">
						<h5>Основная информация</h5>
						<form>
							<div class="form-group">
								<label for="infoFollowes" class="padding-top-large">Количество подписчиков</label>
								<input type="text" class="form-control" id="infoFollowes" placeholder="Количество подписчиков" required>
								<label for="infoType" class="padding-top-basic">Тип аудитории</label>
								<input type="text" class="form-control" id="infoType" placeholder="Тип аудитории" required>
								<label for="infoPrice" class="padding-top-basic">Стоимость</label>
								<input type="text" class="form-control" id="infoPrice" placeholder="Стоимость" required>
								<label for="infoStatus" class="padding-top-basic">Статус</label>
								<select class="form-control">
									<option>В наличии</option>
									<option>Продано</option>
								</select>
							</div>
						</form>
					</div>
					<div class="padding-top-large">
						<button type="button" class="btn btn-primary btn-md"><a href="#!manage">Добавить запись</a></button>
						<button type="button" class="btn btn-secondary btn-md">Очистить</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>