<div ng-include="'views/layers/header.html'"></div>
<section class="basic-bg">
	<div class="container">
	<div class="row no-gutter">
		<div class="col-1">
			<div ng-include="'views/layers/sideMenu.html'"></div>
		</div>
		<div class="col-1 bg-white"><!--Space!!!--></div>
		<div class="col-10 padding-top-large bg-white">
			<h4>Последние заказы</h4>
			<hr>
		</div>
	</div>
</div>
</section>