<div ng-include="'views/layers/header.html'"></div>
<section class="basic-bg">
	<div class="container">
		<div class="row no-gutter">
			<div class="col-1">
				<div ng-include="'views/layers/sideMenu.html'"></div>
			</div>
			<div class="col-1 bg-white"><!--Space!!!--></div>
			<div class="col-10 padding-top-large bg-white">
				<h3>Оформить заказ</h3>
				<hr>
				<div class="row padding-top-large">
					<div class="col-6">
						<h4>Спасибо за покупку!</h4>
						<div class="order__data padding-top-basic">
							<h5>Данные от почты:</h5>
							<h6>{{mailAccount.login}}/{{mailAccount.password}}/{{mailAccount.secret}}</h6>
							<h5>Данные от аккаунта:</h5>
							<h6>{{instAccount.login}}/{{instAccount.password}}</h6>
						</div>
						<div class="order__data padding-top-basic">
							<h5>Данные от почты предоставлена в виде:</h5>
							<h6>логин/пароль/секретное слово</h6>
							<h5>Данные от аккаута предоставлена в виде:</h5>
							<h6>логин/пароль</h6>
						</div>
						<div class="order__data padding-top-basic">
							<h6>С ув, Имя Отправителя</h6>
						</div>
					</div>
					<div class="col-5">
						<h4>Введите почту получателя</h4>
						<div class="padding-top-large">
							<input type="text" class="form-control" id="accountLogin" placeholder="Почта получателя" required>
						</div>
						<div class="padding-top-large">
							<button type="button" class="btn btn-primary btn-md"><a href="#!manage">Отправить заказ</a></button>
							<button type="button" class="btn btn-secondary btn-md"><a href="#!manage">Отменить заказ</a></button>
						</div>
					</div>
				</div>
				<div ng-include="'views/layers/newOrders.html'" class="padding-top-large"></div>
				<div class="padding-bottom-basic"></div>
			</div>
		</div>
	</div>
</section>