<div ng-include="'views/layers/header.html'"></div>
<section class="basic-bg">
	<div class="container">
		<div class="row no-gutter">
			<div class="col-1">
				<div ng-include="'views/layers/sideMenu.html'"></div>
			</div>
			<div class="col-1 bg-white"><!--Space!!!--></div>
			<div class="col-10 padding-top-large bg-white">
				<h4>Настройки</h4>
				<hr>
				<div class="row padding-top-large">
					<div class="col-4">
						<h5>Добавить аккаунт</h5>
						<form>
							<div class="form-group">
								<label for="formGroupExampleInput" class="padding-top-large">Почта</label>
								<input type="email" class="form-control" id="formGroupExampleInput" placeholder="Количество подписчиков" required>
								<label for="formGroupExampleInput" class="padding-top-basic">Пароль</label>
								<input type="password" class="form-control" id="formGroupExampleInput" placeholder="Тип аудитории" required>
								<label for="formGroupExampleInput" class="padding-top-basic">Роль</label>
								<select class="form-control">
									<option>Админ</option>
									<option>Менеджер</option>
								</select>
							</div>
						</form>
						<div class="padding-top-large">
						<button type="button" class="btn btn-primary btn-md"><a href="#!manage">Добавить аккаунт</a></button>
						<button type="button" class="btn btn-secondary btn-md">Очистить</button>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>